-i https://pypi.org/simple

astroid==3.3.8 ; python_full_version >= '3.7.2'

certifi==2025.11.12 ; python_version >= '3.6'

charset-normalizer==3.4.4 ; python_full_version >= '3.7.0'

colorama==0.4.6 ; sys_platform == 'win32'

dill==0.4.0 ; python_version < '3.11'

docutils==0.22.3 ; python_version >= '3.7'

exceptiongroup==1.3.1 ; python_version < '3.11'

flit==3.12.0

flit-core==3.12.0 ; python_version >= '3.6'

idna==3.11

importlib-metadata==6.8.0 ; python_version >= '3.7'

iniconfig==2.1.0 ; python_version >= '3.7'

isort==6.1.0

lazy-object-proxy==1.12.0 ; python_version >= '3.7'

mccabe==0.7.0 ; python_version >= '3.6'

mypy==1.19.0

mypy-extensions==1.1.0 ; python_version >= '3.5'

packaging==25.0 ; python_version >= '3.7'

platformdirs==4.4.0 ; python_version >= '3.7'

pluggy==1.6.0 ; python_version >= '3.7'

pylint==3.3.9

pytest==8.4.2

pytest-asyncio==1.2.0

requests==2.32.5 ; python_version >= '3.7'

toml==0.10.2

tomli==2.3.0 ; python_version < '3.11'

tomli-w==1.2.0 ; python_version >= '3.7'

tomlkit==0.13.3 ; python_version >= '3.7'

typing-extensions==4.15.0 ; python_version >= '3.7'

urllib3==2.6.1 ; python_version >= '3.7'

wrapt==2.0.1 ; python_version < '3.11'

yapf==0.43.0

zipp==3.23.0 ; python_version >= '3.7'

aiohttp==3.13.2 ; python_version >= '3.6'

aiosignal==1.4.0 ; python_version >= '3.7'

anyio==4.12.0 ; python_version >= '3.7'

async-timeout==5.0.1 ; python_version >= '3.6'

attrs==25.4.0 ; python_version >= '3.7'

azure-core==1.37.0 ; python_version >= '3.7'

azure-identity==1.25.1

cffi==2.0.0

cryptography==46.0.3 ; python_version >= '3.7'

frozenlist==1.8.0 ; python_version >= '3.7'

h11==0.16.0 ; python_version >= '3.7'

h2==4.3.0

hpack==4.1.0 ; python_full_version >= '3.6.1'

httpcore==1.0.9 ; python_version >= '3.7'

httpx[http2]==0.28.1

hyperframe==6.1.0 ; python_full_version >= '3.6.1'

microsoft-kiota-abstractions==1.9.7

microsoft-kiota-authentication-azure==1.9.7

microsoft-kiota-http==1.9.7

microsoft-kiota-serialization-json==1.9.7

microsoft-kiota-serialization-text==1.9.7

microsoft-kiota-serialization-form==1.9.7

microsoft-kiota-serialization-multipart==1.9.7

msal==1.34.0

msal-extensions==1.3.1

multidict==6.7.0 ; python_version >= '3.7'

portalocker==3.1.1 ; python_version >= '3.5' and platform_system == 'Windows'

pycparser==2.23

pyjwt[crypto]==2.10.1 ; python_version >= '3.7'

python-dateutil==2.9.0.post0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'

pywin32==311 ; platform_system == 'Windows'

rfc3986[idna2008]==2.0.0

six==1.17.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'

sniffio==1.3.1 ; python_version >= '3.7'

uritemplate==4.2.0 ; python_version >= '3.6'

yarl==1.22.0 ; python_version >= '3.7'

