-i https://pypi.org/simple

astroid==3.3.8 ; python_full_version >= '3.7.2'

certifi==2024.12.14 ; python_version >= '3.6'

charset-normalizer==3.4.1 ; python_full_version >= '3.7.0'

colorama==0.4.6 ; sys_platform == 'win32'

dill==0.3.6 ; python_version < '3.11'

docutils==0.21.2 ; python_version >= '3.7'

exceptiongroup==1.1.1 ; python_version < '3.11'

flit==3.10.1

flit-core==3.10.1 ; python_version >= '3.6'

idna==3.10

importlib-metadata==6.8.0 ; python_version >= '3.7'

iniconfig==2.0.0 ; python_version >= '3.7'

isort==5.13.2

lazy-object-proxy==1.10.0 ; python_version >= '3.7'

mccabe==0.7.0 ; python_version >= '3.6'

mypy==1.14.1

mypy-extensions==1.0.0 ; python_version >= '3.5'

packaging==24.2 ; python_version >= '3.7'

platformdirs==4.3.6 ; python_version >= '3.7'

pluggy==1.5.0 ; python_version >= '3.7'

pylint==3.3.3

pytest==8.3.4

pytest-asyncio==0.25.1

requests==2.32.3 ; python_version >= '3.7'

toml==0.10.2

tomli==2.0.1 ; python_version < '3.11'

tomli-w==1.1.0 ; python_version >= '3.7'

tomlkit==0.13.2 ; python_version >= '3.7'

typing-extensions==4.12.2 ; python_version >= '3.7'

urllib3==2.3.0 ; python_version >= '3.7'

wrapt==1.15.0 ; python_version < '3.11'

yapf==0.43.0

zipp==3.21.0 ; python_version >= '3.7'

aiohttp==3.11.11 ; python_version >= '3.6'

aiosignal==1.3.2 ; python_version >= '3.7'

anyio==4.7.0 ; python_version >= '3.7'

async-timeout==5.0.1 ; python_version >= '3.6'

attrs==24.3.0 ; python_version >= '3.7'

azure-core==1.32.0 ; python_version >= '3.7'

azure-identity==1.19.0

cffi==1.17.1

cryptography==44.0.0 ; python_version >= '3.7'

frozenlist==1.5.0 ; python_version >= '3.7'

h11==0.14.0 ; python_version >= '3.7'

h2==4.1.0

hpack==4.0.0 ; python_full_version >= '3.6.1'

httpcore==1.0.7 ; python_version >= '3.7'

httpx[http2]==0.28.1

hyperframe==6.0.1 ; python_full_version >= '3.6.1'

microsoft-kiota-abstractions==1.6.7

microsoft-kiota-authentication-azure==1.6.7

microsoft-kiota-http==1.6.7

microsoft-kiota-serialization-json==1.6.7

microsoft-kiota-serialization-text==1.6.7

microsoft-kiota-serialization-form==1.6.7

microsoft-kiota-serialization-multipart==1.6.7

msal==1.31.1

msal-extensions==1.2.0

multidict==6.1.0 ; python_version >= '3.7'

portalocker==3.1.1 ; python_version >= '3.5' and platform_system == 'Windows'

pycparser==2.22

pyjwt[crypto]==2.10.1 ; python_version >= '3.7'

python-dateutil==2.9.0.post0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'

pywin32==308 ; platform_system == 'Windows'

rfc3986[idna2008]==2.0.0

six==1.17.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'

sniffio==1.3.1 ; python_version >= '3.7'

uritemplate==4.1.1 ; python_version >= '3.6'

yarl==1.18.3 ; python_version >= '3.7'

