[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uritemplate = "==4.1.1"

[dev-packages]
flit = "==3.7.1"
pylint = "==2.14.3"
mypy = "==0.961"
yapf = "==0.32.0"
isort = "==5.10.1"

