<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="GitHub" value="https://nuget.pkg.github.com/microsoft/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <GitHub>
            <add key="Username" value="" /><!-- your github username -->
            <!-- your github PAT: read:pacakges with SSO enabled for the Microsoft org (for microsoft employees only) -->
            <add key="ClearTextPassword" value="" />
        </GitHub>
    </packageSourceCredentials>
</configuration>