parameters:
  level: 9
  polluteScopeWithAlwaysIterableForeach: false
  polluteScopeWithLoopInitialAssignments: false
  paths:
    - src
  ignoreErrors:
    - '#Property [\w\\:$]+ is never read, only written\.?#'