.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.collapse {
    display: none;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }
    .main-nav-menu {
        margin-top: 40px;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
