name: Build VSCode extension

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:

permissions:
  contents: read

jobs:
  checksecret:
    name: check if SONAR_TOKEN is set in github secrets
    runs-on: ubuntu-latest
    outputs:
      is_SONAR_TOKEN_set: ${{ steps.checksecret_job.outputs.is_SONAR_TOKEN_set }}
    steps:
      - name: Check whether unity activation requests should be done
        id: checksecret_job
        run: |
          echo "is_SONAR_TOKEN_set=${{ env.SONAR_TOKEN != '' }}" >> $GITHUB_OUTPUT
  build:
    needs: [checksecret]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        builds:
          - name: "VS Code Extension"
            path: "microsoft-kiota"
            id: "vscode"
            item: "vsix"
          - name: "Npm Package"
            path: "npm-package"
            id: "package"
            item: "tgz"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - id: last_release
        run: |
          $releaseVersion = gh release list --exclude-drafts --exclude-pre-releases --json tagName,isLatest | ConvertFrom-Json | ? {$_.isLatest -eq $true} | select -first 1 -ExpandProperty tagName
          Write-Output "RELEASE_VERSION=$releaseVersion" >> $Env:GITHUB_OUTPUT
        shell: pwsh
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: scripts/update-vscode-releases.ps1 -version "${{ steps.last_release.outputs.RELEASE_VERSION }}" -packageJsonFilePath "./vscode/microsoft-kiota/package.json" -runtimeFilePath "./vscode/npm-package/runtime.json" -online
        shell: pwsh
      - name: Clean install dependencies
        run: |
          rm -rf node_modules package-lock.json
          npm install
        working-directory: vscode
      - run: npm run lint
        working-directory: vscode
      - name: run tests(linux)
        if: runner.os == 'Linux'
        run: xvfb-run -a npm run test:${{ matrix.builds.id }}:coverage
        working-directory: vscode
      - name: run tests
        if: runner.os != 'Linux'
        run: npm run test:${{ matrix.builds.id }}:coverage
        working-directory: vscode
              
      - name: Run sonar cloud analysis
        if: needs.checksecret.outputs.is_SONAR_TOKEN_set == 'true'
        uses: SonarSource/sonarqube-scan-action@v5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: vscode
          args: >
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info,../npm-package/coverage/lcov.info

      - run: ls -l node_modules/@microsoft/kiota || echo "kiota is missing!"
        if: matrix.builds.id == 'vscode'
        working-directory: vscode/microsoft-kiota
      - run: cat node_modules/@microsoft/kiota/runtime.json || echo "runtime.json missing!"
        if: matrix.builds.id == 'vscode'
        working-directory: vscode/microsoft-kiota
      - run: npm run package:${{ matrix.builds.id }}
        working-directory: vscode
      - run: npm i -g @vscode/vsce
        if: matrix.builds.id == 'vscode'
      - run: |
          npm ls @microsoft/kiota
          vsce package --no-dependencies
          vsce ls
        if: matrix.builds.id == 'vscode'
        working-directory: vscode/microsoft-kiota
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.builds.name }}
          path: vscode/${{ matrix.builds.path }}/*.${{ matrix.builds.item }}
