name: Build VSCode extension

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:

jobs:
  build_extension:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18.x
      - id: last_release
        uses: pozetroninc/github-action-get-latest-release@v0.7.0
        with:
          owner: microsoft
          repo: kiota
          excludes: prerelease, draft
      - run: scripts/update-vscode-releases.ps1 -version "${{ steps.last_release.outputs.release }}" -filePath "./vscode/microsoft-kiota/package.json" -online
        shell: pwsh
      - name: Install dependencies
        run: npm ci
        working-directory: vscode/microsoft-kiota
      - run: npm run lint
        working-directory: vscode/microsoft-kiota
      - run: npm run package
        working-directory: vscode/microsoft-kiota
      - run: npm i -g @vscode/vsce
      - run: vsce package
        working-directory: vscode/microsoft-kiota
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: vscode-extension
          path: vscode/microsoft-kiota/*.vsix
