name: idempotency-tests

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths-ignore:
      [
        "abstractions/**",
        "authentication/**",
        "serialization/**",
        "http/**",
        "**.md",
        ".vscode/**",
        "**.svg",
      ]
  pull_request:
    paths-ignore:
      [
        "abstractions/**",
        "authentication/**",
        "serialization/**",
        "http/**",
        "**.md",
        ".vscode/**",
        "**.svg",
      ]

concurrency:
  # Only run once for latest commit per ref and cancel other (previous) runs.
  group: ci-idempotency-tests-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.x
      - name: Restore dependencies
        run: dotnet restore kiota.sln
      - name: Build
        run: dotnet publish ./src/kiota/kiota.csproj -c Release -p:PublishSingleFile=true -p:PublishReadyToRun=true -o ./publish
        # -p:PublishTrimmed=true -p:PublishAot=true should be enabled to make test run faster, but there are still limitations
      - uses: actions/upload-artifact@v4
        with:
          name: generator
          path: publish
  idempotency:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      fail-fast: false
      matrix:
        language:
          - java
          - csharp
          - go
          - typescript
          - ruby
          - php
          - python
        description:
          - "./tests/Kiota.Builder.IntegrationTests/InheritingErrors.yaml"
          - "./tests/Kiota.Builder.IntegrationTests/NoUnderscoresInModel.yaml"
          - "oas::petstore"
          - "apisguru::twitter.com:current"
          - "apisguru::notion.com"
          - "apisguru::stripe.com"
          - "https://raw.githubusercontent.com/googlemaps/openapi-specification/main/dist/google-maps-platform-openapi3.yml"
          - "apisguru::meraki.com"
          - "https://developers.pipedrive.com/docs/api/v1/openapi.yaml"
          - "apisguru::twilio.com:api"
          - "apisguru::docusign.net"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v3
        with:
          name: generator
          path: publish
      - run: chmod a+x ./publish/kiota
      - name: Check if test is suppressed
        id: check-suppressed
        run: |
          $isSuppressed = . ./it/get-is-suppressed.ps1 -descriptionUrl ${{ matrix.description }} -language ${{ matrix.language }} -kind idempotency
          Write-Output "IS_SUPPRESSED=$($isSuppressed.ToString().ToLowerInvariant())" >> $Env:GITHUB_OUTPUT
        shell: pwsh
      - name: Verify idempotency
        shell: pwsh
        run: ./it/compare-generation.ps1 -descriptionUrl ${{ matrix.description }} -language ${{ matrix.language }}
        continue-on-error: ${{ steps.check-suppressed.outputs.IS_SUPPRESSED == 'true' }}
      - id: replace_url
        if: always()
        run: |
          ORIGINAL="${{ matrix.description }}"
          REPLACED="${ORIGINAL//[-:<>|\*\?\\\/\.]/_}"
          echo "ARTKEY=$REPLACED" >> $GITHUB_OUTPUT
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: idempotency-${{ matrix.language }}-${{ steps.replace_url.outputs.ARTKEY }}
          path: idempotency-results/*.zip

  cleanup:
    runs-on: ubuntu-latest
    needs: idempotency
    steps:
      - uses: jimschubert/delete-artifacts-action@v1
        with:
          artifact_name: "generator"
          min_bytes: "0"
